@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin btn-variant($color, $bg-color, $border-color) {
  color: $color;
  border-color: $border-color;
  background-color: $bg-color;
}
